*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.section{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.box{
    background-color: aqua;
    padding: 10px 10px 10px 10px;
    width: 50%;
    height: auto;
   
   

}
.from-control,h1{
    text-align: center;
    /* margin-bottom: 40px; */
}
.alert{
    display: flex;
    text-transform: capitalize;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;

}
.alert-dangers{
    color: white !important;
    background-color: #ff0e0e;
    height: 1px;
}
.alert-green {
    color: white;
    background-color: green;
    height: 1px;
}


.input-control{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    

}
#input{
    width: 40%;
    height: 2rem;
    border: none;
    padding-right: 5px;
    padding-left: 5px;
}
.submit-btn{
    background-color: brown;
    color: white;
    border: none;
    width: 4rem;
}


.todo-item{
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding: 0.25rem 1rem;
    text-transform: capitalize;
}
.edit-btn{
    background: none;
    color: rgb(87, 0, 128);
    border: none;
    font-size: 1.5rem;

}
.delete-btn{
    background: none;
    color:red;
    border: none;
    font-size: 1.5rem ;

}

.todo-container{
    margin-top: 2rem;
    visibility: hidden;
}
.show-container{
    visibility: visible;
}








.clear-btn{
  
    border: none;
    background: none;
    font-size: 1rem;
    text-transform: capitalize;
    color: red;
    opacity: 0.9;
    cursor: pointer;
}