*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 243, 223);
}
.form-box{
    border: 2px solid green;
    /* width: 80%; */
    padding: 20px 20px 20px 20px;
}
.input{
    width: 100%;
    height: 2rem;
    border: 2px solid green;
}
.btns{
    padding: 3px 5px 3px 5px;
    border: 1px solid green;
    color: green;
}

.rigth-box{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.aalert{
    /* background-color: red;
    color: white; */
    display: none;
}
.showItem{
    background-color: red;
    color: white;
    display: block;
}

.form-expense{
    border: 2px solid red;
    padding: 20px 20px 20px 20px;
    
}

.input-form > input{
    width: 100%; 
    height: 2rem;
    border: 1px solid red;
}
.expanes-btn{
    padding: 3px 5px 3px 5px;
    border: 1px solid red;
}